<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %> 
    <body>
        <%- include("./partials/header.ejs") %> 
        <% if (lista || data) { %>
            <main id="aram-main">
                <form action="/rift" method="post">
                    <% for( let i = 0; i < data.list.length; i++ ) { %>
                        <% let player = data.list[i] %> 
                        <% let teams = lista && lista.teamOne && lista.teamTwo ? [...lista.teamOne, ...lista.teamTwo].map(p => p.name) : null %> 
                        <fieldset>
                            <input type="checkbox" name="players" id="p<%= player.id %>" value="<%= player.id %>" <%= lista && teams && teams.includes(player.name) ? "checked" : "" %>>
                            <label for="p<%= player.id %>"><%= player.name %></label>
                        </fieldset>
                    <% } %>
                    <%// console.log(acc) %> 
                    <button type="submit">Armar equipos</button>
                </form>
                <% if (lista && lista.teamOne && lista.teamTwo) { %>
                    <div id="team-div">
                        <span id="team-one-span" class="team-span">
                            <h2>Equipo 1</h2>
                            <% for( let i = 0; i < lista.teamOne.length; i++ ) { %>
                                <span>
                                    <img src="/img/one/<%= lista.teamOne[i].role %>.png" alt="">
                                    <p><%= lista.teamOne[i].name %></p>
                                </span>
                            <% } %>
                        </span>
                        <span id="team-two-span" class="team-span">
                            <h2>Equipo 2</h2>
                            <% for( let i = 0; i < lista.teamTwo.length; i++ ) { %>
                                <span>
                                    <p><%= lista.teamTwo[i].name %></p>
                                    <img src="/img/two/<%= lista.teamTwo[i].role %>.png" alt="">
                                </span>
                            <% } %>
                        </span>
                    </div>
                <% } %>

    
            </main>
        <% } %>
    </body>
</html>